<div>
  <h1 class="background-img home-header">WELCOME!</h1>

  <p primary-font-regular font-size12>
    The Booth Course Guide (closed beta version) is an interactive application that helps students make better, informed decisions when selecting courses and planning for concentration and degree requirements.
  </p>

  <p>
    Driven by data directly provided by YOU (the student), you will have access to more analytics and the latest updates for courses you're considering. Easily navigate the site to connect and share your course experience with other students!
  </p>

  COMING SOON! Upcoming features include:
    <li>Expanded Ratings - You will have access to more user data</li>
    <li>Live Newsfeed - Your homepage will provide updates unique and applicable to you</li>
    <li>Admin Privileges - Certain users will be granted Admin rights, allowing additions, deletions, and edits for courses and faculty</li>
    <li>Automatic Archiving - Past courses will be automatically archived (but still accessible) across all sections of the site</li>
